{% extends 'dashboard.html' %}

{% block content %}
<div class=" container max-w-3xl h-2/5 mx-auto bg-white rounded-xl shadow-md overflow-hidden p-8 relative my-auto">
    <div class="text-center my-10">
        <h2 class="text-3xl font-bold text-purple-800">Password Reset done!</h2>
        <p class="p-8 text-md text-gray-800">We have sent you an email. If you have not received it please check your spam folder. Otherwise contact us if you do not receive it in a few minutes.</p>
    </div>

    <form action="{% url 'account_login' %}" method="get" class="flex justify-center">
        <button type="submit" class="text-purple-600 hover:text-purple-700 font-medium flex items-center">
            <i class="fas fa-sign-in-alt mr-2"></i> Back to Login
        </button>
    </form>
</div>
{% endblock %}