<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% if messages %}
        {% for message in messages %}
            <p> {{ message }}</p>
        {% endfor %}
    {% endif %}
    <div>
        {% block body %}
        {% endblock %}
    </div>
</body>
</html>

<style>
    *, ::after, ::before{
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: medium;
        margin: 0;
    }
    div{
       display: flex;
       justify-content: flex-start;
       gap: 2rem;
       margin: 2rem;
       font-size: x-large;
    }
    #category{
        border: none;
        font-size: 2rem;
        font-weight: 600;
    }
    textarea{
        display: block;
        width: 100%;
        padding: 2rem;
    }
</style>