{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dossier</title>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="{% if debug %} {% static 'css/tailwind.css' %} {% else %} {% static 'css/tailwind-min.css' %} {% endif %} ">
    <link rel="stylesheet" href="{% static 'css/styles-min.css' %}">
    {% block style %} {% endblock %}
</head>
<body class="min-h-screen flex flex-col">
    <!-- Flash Messages -->
    {% if messages %}
    <div id="flash-container" class="fixed top-14 left-1/2 transform -translate-x-1/2 z-50 space-y-1 w-full max-w-md px-2">
        {% for message in messages %}
        <div class="flash-message rounded-sm border border-gray-200  p-3 text-white flex justify-between items-center shadow-lg
            {% if message.tags == 'success' %}  bg-green-200    {% endif %}
            {% if message.tags == 'error' %}    bg-red-200      {% endif %}
            {% if message.tags == 'warning' %}  bg-yellow-200   {% endif %}
            {% if message.tags == 'info' %}     bg-blue-200     {% endif %}">
            <p class="message-p text-black">
            {{ message }}</p>
            <button class="text-gray-800 text-xl " onclick="this.parentElement.remove()">&times;</button>
        </div>
        {% endfor %}
    </div>
    {% endif %}

    {% block body %}
    {% endblock %}
    <script src="{% static 'js/app.js' %}"></script>
</body>
</html>