{% extends 'base.html' %}
{% block body %}
<form class="account-form" method="post">
    <h2>Login</h2>
    {% csrf_token %}
    {% if form.errors %}
    <div class="message error-message">
        <div>{% for key, value in form.errors.items %} {{ value.as_ul }} {% endfor %}</div>
        <span style="float: right;" class="close-btn" onclick="this.parentElement.style.display='none';">&times;</span>
    </div>
    {% endif %}
    <div>
        {{ form.username.label_tag }} <br>
        {{ form.username }}
    </div>
    <div>
        {{ form.password.label_tag }} <br>
        {{ form.password }}
    </div>
    <button type="submit">Login</button>
    <p>Don't have an account, create one <a href="{% url 'users:signup' %}">here</a></p>
</form>
{% endblock %}