
{% extends 'base.html' %} {% block body %}

<form method="post" action="{% url 'resumes:'|add:category pk=pk %}">
	<!-- ----------------------------------- CSRF token ----------------------------------- -->
	{% csrf_token %}


	<div class="user-defined-field">{{ user_field_form }}</div>


	<!-- ----------------------------------- Basic Form ----------------------------------- -->
	{% if form %}
	<div class="single-form">{{form}}</div>
	{% endif %}


	<!-- ----------------------------------- Management Form ----------------------------------- -->
	{{ formset.management_form }}


	<!-- ----------------------------------- Formset Container ----------------------------------- -->
	{% if formset %}
	<div id="formset-container">

		{% for form in formset %}
		<div class="single-form formset-form">

			<button type="button" class="delete-button">DELETE</button>

			{{ form }}

		</div>
		{% endfor %}
		<button type="button" class="add-button" id="add-form">ADD</button>
	</div>
	{% endif %}

	<button type="submit" id="form-submit">SUBMIT</button>
</form>
<div class="nav">
	{% if back%} <a id="back-category" href="{%url 'resumes:'|add:back pk=pk %}">Back</a> {% endif %}
	{% if next%} <a id="next-category" href="{%url 'resumes:'|add:next pk=pk %}">Next</a> {% endif %}
</div>

{% endblock %}